name: Python Windows Tests

on:  
  workflow_dispatch:

env:
  FORESIGHT_UPLOADER_SIGNER_URL: https://upload.service.runforesight.us
  WORKFLOW_TELEMETRY_BASE_URL: https://api.service.runforesight.us
  FORESIGHT_LOG_LEVEL: debug

permissions:
  contents: read

jobs:
  test_windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python: ["3.9", "3.10"]
        arch: ["x64"]

    steps:
      - uses: actions/checkout@v3
      - name: Collect Workflow Telemetry
        if: always()
        uses: runforesight/foresight-workflow-kit-action@v1
        with:
          api_key: ${{ secrets.FORESIGHT_PROJECT_WALL_APIKEY }}
      - name: Setup pip cache
        uses: actions/cache@v3
        id: pipcache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-test_windows
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Run Test
        # Run tox using the version of Python in `PATH`
        run: |
          pip install coverage>=5.2 freezegun<0.4 pytest>=6.0.1 ukpostcodeparser>=1.1.1 validators>=0.13.0 sphinx>=2.4,<3.0 Pillow
          coverage run --source=faker -m pytest --junitxml=./results/results.xml
          coverage xml -o ./coverage/coverage.xml
      - name: Analyze Test and/or Coverage Results
        uses: runforesight/foresight-test-kit-action@v1
        if: ${{ always() }}
        with:
          api_key: ${{ secrets.FORESIGHT_PROJECT_WALL_APIKEY }}
          test_format: JUNIT
          test_framework: PYTEST
          test_path: ./results/**
          coverage_path: ./coverage/**
          coverage_format: COBERTURA/XML
      - name: Upload coverage file
        uses: actions/upload-artifact@v3
        with:
          name: coverage-artifact
          path: ./coverage.xml
